# this folder contains the cache of angular when run in development
.angular

# ============ editor ============
# for JetBrains IDEs
.idea

# for Visual Studio Code
.vscode

# ============ misc ============
# for MacOS
.DS_Store

# for Windows
Thumbs.db

# ============ node ============
# for node_modules
node_modules
