<!-- TODO : Navbar can be vertical or horizontal that's why we left it up to you -->
<nav class="bg-gray-800" *ngIf="(isLoggedIn|async)">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <img class="h-8 w-8" routerLink='' src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"
               alt="Workflow">
        </div>

        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <a routerLink="/home" routerLinkActive="bg-gray-900"
               class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
            <a *ngIf="(isLoggedIn | async)===false" routerLink="auth/login" routerLinkActive="bg-gray-900"
               class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Login</a>
            <a *ngIf="(isLoggedIn | async)" (click)="onLogOut_click()" routerLink="auth/logout"
               routerLinkActive="bg-gray-900"
               class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Logout</a>
          </div>
        </div>
      </div>
      <!-- TODO : Options for mobile menu-->
      <div class="-mr-2 flex md:hidden">
        <button type="button" (click)="isMobileMenuClose=!isMobileMenuClose"
                class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>

          <svg *ngIf="isMobileMenuClose" class="block h-6 w-6"
               xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
               aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
          </svg>
          <svg [ngClass]="{'hidden':isMobileMenuClose===true}" class="hidden h-6 w-6"
               xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
               aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- TODO : Response/Component Loading progress bar will be here -->
  <div *ngIf="loading$ | async" class="relative pt-1 animate-pulse">
    <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200">
      <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-pink-500"></div>
    </div>
  </div>

  <!-- TODO : Options for mobile menu-->
  <div class="md:hidden transition ease-in-out duration-100" id="mobile-menu" *ngIf="!isMobileMenuClose">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a *ngIf="(isLoggedIn | async)" (click)="onLogOut_click()" routerLink="auth/logout"
         routerLinkActive="bg-gray-900"
         class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Logout</a>
    </div>
  </div>

</nav>

<!-- TODO : Make your own title {action, reducer & action } if needed -->
<header class="bg-white shadow ">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1>
      {{title$ | async }}
    </h1>
  </div>
</header>

<!--TODO : App body will be placed here-->
<ng-content select="[body]"></ng-content>
